<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyg.instock.mapper.TrackCompanyNameMapper">

    <resultMap id="BaseResultMap" type="com.lyg.instock.domain.TrackCompanyName">
            <id property="trackCompanyId" column="track_company_id" jdbcType="INTEGER"/>
            <result property="trackCompanyName" column="track_company_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        track_company_id,track_company_name
    </sql>
</mapper>
